body {
    font-family: 'PT Mono', monospace;
}

p {
    font-size: 20px;
}

a {
    color: #0470dc;
}

a:visited {
    color: #3425af;
}

a:active {
    color: #0470dc;
}

.column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.advantages {
    padding: 100px 0;
}

.advantages h3 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
}

.advantages img {
    width: 100%;
}

.advantages .row {
    align-items: center;
}

.advantages-section {
    margin-bottom: 100px;
}

.intro {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #225df4, #0e2153);
    color: #fff;
}

.intro h1 {
    font-size: 82px;
     
}

.intro h2 {
    font-size: 42px;
     
}

.pricing {
    padding-bottom: 100px;
}

.pricing h3 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 43px;
}

.pricing-text {
    text-align: center;
    margin-bottom: 93px;
}

.pricing-card {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    border-radius: 15px;
    text-align: center;
}

.pricing-card-advantages-container {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
}

.pricing-card-advantages-container-second {
    margin-bottom: 20px;
}

.pricing-card-advantage {
    font-size: 18px;
    margin-bottom: 20px;
}

.pricing-card-advantage:last-child {
    margin-bottom: 0;
}

.pricing-card-price {
    font-size: 62px;
}

.pricing-card-first {
    background-image: linear-gradient(to bottom, #13f1fc, #0470dc);
}

.pricing-card-second {
    background-image: linear-gradient(to bottom, #c56cd6, #3425af);
    padding: 85px 0;
}

.pricing-card-third {
    background-image: linear-gradient(to bottom, #65799b, #5e2563);
}

.chatbot {
    text-align: center;
    padding-bottom: 100px;
}

.chatbot h3 {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 50px;
}

.chatbot img {
    width: 100%;
}

.chatbot-content {
    margin-bottom: 76px;
}

.future {
    padding-bottom: 100px;
    text-align: center;
}

.future h3 {
    font-size: 36px;
    margin-bottom: 53px;
}

.future p {
    margin-bottom: 73px;
}

.future button {
    width: 271px;
    background-color: #de75d5;
    color: #fff;
    border: none;
    font-size: 20px;
    padding: 18px 0;
    cursor: pointer;
}

.future button:hover {
    background-color: #8f4985;
    color: #fff;
    cursor: pointer;
  }

footer {
    background-color: #312e3b;
    padding: 37px 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
}

@media(max-widht: 990px) {
    .advantages img {
        margin-bottom: 25px;
    }
}

@media(max-width: 768px) {
    .intro h1 {
        font-size: 42px;
         
    }

    .intro h2 {
        font-size: 22px;
         
    }

    .pricing-card {
        margin-bottom: 25px;
    }
}