body {
    font-family: 'PT Mono', monospace;
}

p {
    font-size: 20px;
}

.column {
    flex-direction: column;
}

.advantages {
    padding: 100px 0;
}

.advantages .row {
    align-items: center;
}

.advantages h3 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
}

.advantages img {
    width: 100%;
}

.advantages-section {
    margin-bottom: 100px;
}

.intro {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to right, #225df4, #0e2153);
    color: #fff;
}

.intro h1 {
    font-size: 82px;
     
}

.intro h2 {
    font-size: 42px;
     
}

.pricing p {
    text-align: center;
}

.pricing h3 {
    font-size: 36px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 43px;
}

@media(max-widht: 990px) {
    .advantages img {
        margin-bottom: 25px;
    }
}

@media(max-width: 768px) {
    .intro h1 {
        font-size: 42px;
         
    }

    .intro h2 {
        font-size: 22px;
         
    }
}

